<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passenger - Login</title>
    <form action="">
        <p>nome</p>
        <input type="text" placeholder="Inserire il nome" name="nome">
        <p>cognome</p>
        <input type="text" placeholder="Inserire il cognome" name="cognome">
        <p>email</p>
        <input type="text" placeholder="email" name="email">
    </form>

</head>
<body>
    
</body>
</html>